<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Calling Avatar Bot</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <script
      src="https://cdn.socket.io/4.5.3/socket.io.min.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <h2 id="talk-heading">Talking To Steve Jobs</h2>
  <body class="">
    <div class="content">
      <div class="audio-response" id="audio-response">
        <img src="../static/stevejobs.jpeg" alt="Speaker Image" id="speaker-image">
      </div>      
      <div class="button-container">
        <input type="checkbox" id="record" class="mic-checkbox" />
        <label for="record" class="mic-button">
          <div class="mic">
            <div class="mic-button-loader"></div>
            <div class="mic-base"></div>
          </div>
          <div class="button-message">
            <span>&nbsp;</span>
            </br>
            <span>START</span>
          </div>
        </label>
        <img class="click" src="../static/click.png" />
      </div>
    </div>
    <div class="countdown" id="countdown">
      <!-- {{start_countdown}}  -->
      {% if start_countdown == 'true' %}
        Ringing...
      {% else %}  
        Oops! Not available.
      {% endif %} 
    </div>
    <div class="fa fa-phone" id="call-end" onclick="window.location.href='/'"> </div>
    <audio id="myAudio" src="../static/ringtone.mp3"></audio>
    <script src="../static/script.js"></script>
  </body>
</html>
